body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f5f7;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f5bad1;
    padding: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .nav-logo {
    color: #2d3436;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
  }
 
  .nav-menu {
    list-style: none;
    display: flex;
  }
 
  .nav-menu li {
    margin-left: 2rem;
  }
 
  .nav-menu a {
    color: #2d3436;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
  }
 
  .nav-menu a:hover {
    color: #636e72;
    transform: translateY(-3px);
  }

/* Seção de Pesquisa */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.search-bar, .search-options {
    margin: 10px 0;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    margin-top: 5px;
}

.search-options label, .search-options select {
    margin-right: 10px;
    font-size: 16px;
}

.search-options select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f3a6b0;
}

/* Lista de Animais */
.animal-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.animal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.animal-card img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.animal-card h3 {
    color: #89c2d9;
}

.animal-card p {
    color: #adb5bd;
}

.animal-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffafcc;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.animal-cards {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.animal-card a:hover {
    background-color: #ffb3c1;
}

/* Cores em tons pastéis */
body {
    background-color: #fffcf2;
}

nav {
    background-color: #bde0fe;
}

.animal-card {
    background-color: #f7e7d3;
}

.animal-card h3 {
    color: #ffb4a2;
}

.animal-card a {
    background-color: #cdb4db;
}

/**/
.mask-custom {
    backdrop-filter: contrast(110%) brightness(110%) saturate(130%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 1;
  }

  .animal-card:hover {
    background: rgb(173,19,102);
background: linear-gradient(90deg, rgba(173,19,102,0.5242471988795518) 0%, rgba(209,20,81,0.3533788515406162) 35%, rgba(218,140,12,0.44861694677871145) 82%, rgba(255,184,0,0.2777485994397759) 100%);
  }

img:hover {
border: 1px solid black;
  }



  /* // .hover-overlay
--#{$prefix}image-hover-transition: #{$image-hover-overlay-transition};

// .hover-zoom
--#{$prefix}image-hover-zoom-transition: #{$image-hover-zoom-transition};
--#{$prefix}image-hover-zoom-transform: #{$image-hover-zoom-transform};

// .hover-shadow
--#{$prefix}image-hover-shadow-transition: #{$image-hover-shadow-transition};
--#{$prefix}image-hover-shadow-box-shadow: #{$image-hover-shadow-box-shadow};

// .hover-shadow-soft
--#{$prefix}image-hover-shadow-box-shadow-soft: #{$image-hover-shadow-box-shadow-soft};

$image-hover-overlay-transition: all 0.3s ease-in-out;

$image-hover-zoom-transition: all 0.3s linear;
$image-hover-zoom-transform: scale(1.1);

$image-hover-shadow-transition: $image-hover-overlay-transition;
$image-hover-shadow-box-shadow: $box-shadow-4-strong;
$image-hover-shadow-box-shadow-soft: $box-shadow-5; */

/*
.hover-overlay:hover {transition: all 0.3s ease-in-out};
.mask { background: linear-gradient( 45deg, hsla(327, 100%, 83%, 0.5), hsla(36, 84%, 81%, 0.5) 100%)};